.chat-input{
  outline: none;
  width: 100px;
  height: 100px;
  padding: 0;
}
.show-chat{
  width: 100%;
  height: 425px;
  overflow-y:auto;
}
.inputRight{
  height: 160px;
  width: 100%;
  .ant-input{
    width: 735px!important;
    height: 114px!important;
    border-radius: 0!important;
  }
}
